---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Blog";
const allPosts = await Astro.glob('./posts/*.md');

---

	<BaseLayout pageTitle = {pageTitle}>
        <h2> this isa blog style page...</h2>
        <p>I am working through the astro tutorial again as i somehow misplaced my first attempt, nd i figure it will do me good to have another shot to consolidat ethe syntax.</p>
		<ul>
			{allPosts.map((post) => <BlogPost url = {post.url} title={post.frontmatter.title}/>)}
		</ul>
	</BaseLayout>
		
</html>
