---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Blog";
---

	<BaseLayout pageTitle = {pageTitle}>
        <h2> this isa blog style page...</h2>
        <p>I am working through the astro tutorial again as i somehow misplaced my first attempt, nd i figure it will do me good to have another shot to consolidat ethe syntax.</p>
		<ul>
			<li><a href="/posts/post-1">post 1</a></li>
			<li><a href="/posts/post-2">post 2</a></li>
			<li><a href="/posts/post-3">post 3</a></li>
		</ul>
	</BaseLayout>
		
</html>
